p {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

#image{
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

#output{
    text-align: center;
    color: darkblue;
    outline-color: darkblue;
    outline-style: groove;
    outline-width: thin;
    margin-left: 350px;
    margin-right: 350px;
}

