p {
    font-size: large;
    color: lightskyblue;
}
b{
    font-size: xx-large;
    color: lightskyblue;
}

.center {
    text-align: center;
}

#inputs {
    margin-left: auto;
    margin-right: auto ;
}


#output{
    text-align: center;
    color: lightskyblue;
    outline-color: skyblue;
    outline-style: groove;
    outline-width: thin;
    display: none;
    margin-left: 350px;
    margin-right: 350px;
    text-shadow: 2px 2px 4px ;
    word-wrap: break-word;
}



body{
    background-image: url("https://i.ytimg.com/vi/T40NSkd7Olc/maxresdefault.jpg");
}




